/* Main Content */
body {
    padding-bottom: 40px;
    color: #5a5a5a;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
}
.clearfix {
    display: block;
}
div {
    display: block;
}
/* Carousel base class */

.carousel {
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 1;
    width: 600px;
    text-align: right;
    right: 75px;
    margin-bottom: 10px;
}
/* Declare heights because of positioning of img element */

.carousel .item {
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}
.carousel img {
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    width: 100%;
}
.row {
    display: inline-block;
    margin-right: 50px;
    margin-left: 60px;
}
.content {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

/* Center align the text within the three columns below the carousel */
.content .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}
.content h2 {
    font-weight: 800;
}
.content .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}
.content .col-md-4 {
    width: 300px;
    height: 400px;
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 30px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-style: thin;
}
.content .col-md-4 p {
    text-align: justify;
    text-justify: inter-word;
}
.carousel-banner {
    z-index: 1;
    text-align: right;
    margin-bottom: 10px;
    display: table;
    text-align: center;
}

/* Responsive CSS */
@media (min-width: 768px) {
    /* Remve the edge padding needed for mobile */
    
    .content {
        right: auto;
        left: auto;
        position: relative;
    }
    /* Navbar positioning foo */
    
    .navbar {
        margin-bottom: 0;
        left: 6%;
    }
    .navbar-brand {
        font-weight: 600;
    }
    .navbar-brand {
        height: 40px;
        padding: 5px 15px;
        font-size: 18px;
        line-height: 1em;
        margin-top: -20px;
    }
    .navbar-brand h1 {
        color: #fff;
        font-size: 20px;
        line-height: 40px;
    }
    .navbar img {
        margin-left: -50px;
    }
    .navbar-brand:focus {
        outline: 0;
    }
    .nav.navbar-nav {
        background-color: rgba(255, 255, 255, .4)
    }
    .navbar-custom.top-nav-collapse .nav.navbar-nav {
        background-color: rgba(0, 0, 0, 0);
    }
    .navbar-custom ul.nav li a {
        font-size: 16px;
        letter-spacing: .5px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        min-height: 85px;
        padding-top: 35px;
    }
    .navbar-custom.top-nav-collapse ul.nav li a {
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        color: #fff;
    }
    .navbar-custom ul.nav ul.dropdown-menu {
        border-radius: 0;
    }
    .navbar-custom ul.nav ul.dropdown-menu li {
        border-bottom: 1px solid #f5f5f5;
    }
    .navbar-custom ul.nav ul.dropdown-menu li:last-child {
        border-bottom: none;
    }
    .navbar-custom ul.nav ul.dropdown-menu li a {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 5px;
        color: #47286b;
    }
    .navbar-custom ul.nav ul.dropdown-menu li a:hover {
        background: #fefefe;
    }
    .navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
        color: #47286b;
    }
    .navbar-custom .nav li a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
    }
    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li.active {
        outline: 0;
        background-color: rgba(255, 255, 255, .2);
    }
    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li.active {
        outline: 0;
        background-color: rgba(255, 255, 255, .2);
        color: #FFFFFF;
    }
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 14px;
        color: #fff;
        padding-top: 20px;
    }
    .navbar-toggle:focus, .navbar-toggle:active {
        outline: 0;
    }

    /* Bump up size of carousel content */
    
    .carousel-caption p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.4;
        font-family: "Lato", sans-serif;
        font-weight: 300;
    }
    .navbar-custom ul.nav ul.dropdown-menu li a:hover {
        color: #47286b;
    }
    .widget-avatar .avatar:hover {
        border: 5px solid #47286b;
    }
    .bg-skin {
        background: #47286b;
    }
    form#contact-form input:focus, form#contact-form select:focus, form#contact-form textarea:focus {
        border-color: #47286b;
    }
    footer {
        background-color: #47286b;
        ;
    }
    .btn-skin {
        color: #fff;
        background-color: #47286b;
        ;
        border-color: #47286b;
    }
    .feature {
        margin-bottom: 30px;
    }


.message {
    display: none;
    margin: 0 0 13px;
    padding: 10px;
    border: solid 1px #bd8;
}